<ion-content>
  <div class="ion-padding">
    <div class="home-container">
      <div class="blue-box">
        <h2>아임포트 테스트</h2>
        <p>아임포트 CAPACITOR 모듈 테스트 화면입니다.</p>
        <p>아래 버튼을 눌러 결제 또는 본인인증 테스트를 진행해주세요.</p>
      </div>
      <a routerLink="/payment">
        <i nz-icon nzType="credit-card" nzTheme="outline"></i>
        결제하기
      </a>
      <a routerLink="/certification">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        본인인증 하기
      </a>
    </div>
  </div>
</ion-content>
